body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 20px;
    width: 850px;
    text-align: center;
}

#logo {
    /* Actual width is 636; displaying at half-size for retina screens */
    display: block;
    width: 318px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
   
}

.step1 {
    font-weight: bold;
    margin: 15px;
}


.results {
    font-weight: bold;
    margin: 20px;
}

.outcome {
    color: brown;
}

.tie {
    color: blue;
}

.won {
    color: green;
}

.lost {
    color: red;
}